.recommendationVideos {
  grid-column: 9 / -1;
}

.recommendationVideos h2 {
  margin-bottom: 2rem;
}

.recommendations {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (max-width: 992pxc) {
  .recommendationVideos {
    grid-column: 1 / span 12;
  }
}
