header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.headerContainer {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-container span {
  font-weight: 700;
}
.logo {
  font-size: 3rem;
  color: #ff0033;
}

.group-1 {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}

.buttons:first-child {
  margin-left: 1.5rem;
}

@media screen and (max-width: 800px) {
  .buttons {
    gap: 1.5rem;
  }
  .showSearch .group-1 {
    display: none;
  }
  .showSearch .buttons {
    display: none;
  }
}

@media screen and (max-width: 572px) {
  .buttons {
    display: none;
  }
}
