.videoItem {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1.5rem;
}

.videoDetails h4 {
  font-size: 1.4rem;
  color: #0f0f0f;
}

.videoDetails .description {
  font-size: 1.2rem;
  color: #555;
  margin: 0.3rem 0;
}

.videoMetaData {
  font-size: 1.2rem;
  color: #555;
}
